html,body
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  
.top-header
  min-height: 70px
  background: #efeeed
  .nav
    li a
      text-transform: uppercase
      font-family: 'Georgia', sans-serif
      color: #020202
      font-size: 14px
      font-weight: 400
      padding: 0
      padding: 5px 18px
      margin-top: 20px
      border: 1px solid transparent
      &:hover
        border: 1px solid #aba191
  .icon-bar
    background: #000

.top-header__phone
  margin-top: 20px
  text-align: center
  a
    font-family: 'Georgia', sans-serif
    color: #020202
    font-size: 18px
    &:hover
      text-decoration: none

.header
  background: url("../img/header-bg.jpg") no-repeat
  background-size: cover
  min-height: 100vh